<footer class="col-md p-3" size="5">
    <hr>
    <div class="row contain t-10">
        <div class="col-md-3"></div>
        <div class="col-md-2 text-center">
            <strong class="align-content-center">Контакты</strong><br>
            <a href="">Служба поддержки</a><br>
            <a href="">Руководитель</a><br>
            <a href="">Оператор</a>
        </div>
        <div class="col-md-2 text-center">
            <strong>Другое</strong><br>
            <a href="">Доп. информация</a><br>
            <a href="">Источники</a>
        </div>
        <div class="col-md-2 text-center">
            <strong>Соц. сети</strong><br>
            <a href="">Facebook</a><br>
            <a href="">Instagram</a><br>
            <a href="">VK</a>
        </div>
        <div class="col-md-3"></div>

    </div>
</footer>