<aside class="container text-right col-md-3 pl-5 pt-3">
    <h1 class="text-center">Сайдбар</h1>
    <p>Сайдбар – это закрепленная боковая панель ресурса, область навигации или вспомогательной информации, графически отделенная от основной области контента.</p>
    <p>Пройдите тест пожалуйста<a href="test" class="btn btn-outline-primary text-center" target="_blank">Пройти</a></p>
</aside>