{% extends 'base.twig' %}

{% block body %}
    <div class="container col-md-7 text-center">
        <h1>Cтраница про нас!</h1>
        <p>В данный момент страница находится в разработке. На этой странице будет информация о разработчике.</p>
    </div>
{% endblock %}