{% extends 'base.twig' %}

{% block body %}
<main class="container col-md-7 text-center">
    <h1>Последние посты</h1>
    <h3>это дополнительная ветка</h3>

    {% if regCookie is not null %}
    <h5 class="alert alert-success">Вы успешно зарегистрированы!</h5>
    {% endif %}

        {% include 'section/posts.twig' with posts %}

        <a href="/blog" class="btn btn-dark">Читать все посты</a>
</main>
{% endblock %}
