{% extends 'base.twig' %}

{% block body %}
    <div class="container col-md-7 text-center">
        <h1>Страница про другое!</h1>
        <p>Страница разрабатыаетсется. На этой странице в дальнейшем будет различный контент.</p>
    </div>
{% endblock %}