{% extends 'base.twig' %}

{% block body %}
    <div class="container col-md-7 text-center">
        <h1>Страница про другое!</h1>
        <p>Связвтся с разработчиком бы можете через почту:</p>
        <p>mail: artykbaiev00@mail.ru<br>
            Gmail: artykbaiev0000@gmail.com</p>
    </div>
{% endblock %}